@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* total width */
  *::-webkit-scrollbar {
    @apply w-2 h-2;
  }

  /* background of the scrollbar except button or resizer */
  *::-webkit-scrollbar-track {
    background-color: transparent;
  }

  /* scrollbar itself */
  *::-webkit-scrollbar-thumb {
    @apply !bg-neutral-200 hover:!bg-neutral-200 dark:!bg-neutral-700 dark:hover:!bg-neutral-600;
    @apply !border-2 !border-neutral-100 dark:!border-transparent;
    @apply !rounded-full;
  }

  /* set button(top and bottom of the scrollbar) */
  *::-webkit-scrollbar-button {
    display: none;
  }

  :focus-visible {
    outline: none;
  }

  html,
  body {
    @apply bg-neutral-50;
  }

  html {
    @apply overflow-hidden scroll-smooth antialiased;
    text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
  }

  body {
    @apply font-sans text-base text-neutral-900;
  }
  #__next {
    @apply min-h-dynamic-screen;
  }

  h1,
  h2,
  h3 {
    @apply scroll-mt-16 font-semibold slashed-zero tracking-tighter text-black lg:scroll-mt-8;
  }

  h1 {
    @apply text-2xl md:text-3xl;
  }

  hr {
    @apply my-6 border-gray-200;
  }
}

@layer components {
  .scrollable-area {
    @apply h-full max-h-dynamic-screen min-h-dynamic-screen overflow-y-auto overflow-x-hidden bg-white lg:bg-neutral-50;
  }

  .thumbnail-shadow {
    box-shadow:
      0 0 0 0.5px #e2e8f0,
      0 0 0 1px rgba(226, 232, 240, 0.5),
      0 0 0 3px #f8fafc,
      0 0 0 3.5px #f1f5f9,
      0 10px 15px -3px rgb(59 130 246/5%),
      0 4px 6px -4px rgb(59 130 246/5%);
  }
}
